
.wrapper {
    min-width: 800px;
    max-width: 100%;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}
.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
  background-color:rgba(0, 0, 0, 0.44);
  padding: 10px     80px;
}
.label{
    float: left;
}
.label_link{
    text-decoration: none;
}
.label_title{
    font-size: 20px;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.label_link:hover .label_title{
    color: #3cb878;
}
.nav{
    float: right;
    margin-right: 24px;
}
.nav:after{
    content: "";
    display: inline-block;
    height: 19px;
    width: 1px;
    background-color: rgba(118, 110, 110, 0.23);
}
.authorization{
    float: right;
    padding-top: 5px;
}
.authorization_white{
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: inline-block;
    color: #fff;
}
.authirization_link{
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    display: inline-block;
    color: #3cb878;
}
.authirization_link:hover{
    border-bottom: 1px solid #3cb878;
}
.nav_link{
    text-decoration: none;
    display: inline-block;
    background: url('../img/css_sprites.png');
    width: 28px; height: 21px;
    margin-right: 25px;
}
.bg-ic_caledar {
    background-position: 48px -19px;
}
.bg-ic_journey {
   background-position: -52px -19px;
}
.bg-ic_calculator {
    background-position: -160px -19px;
}
.bg-ic_caledar:hover {
    background-position:48px 41px;
}
.bg-ic_journey:hover {
    background-position: -52px -79px;
}
.bg-ic_calculator:hover {
    background-position: -160px -79px;
}
                /*    FORM LOGIN*/
.form_wrapper{
     min-height: calc(100vh - 44px);
     display: -moz-flex;
     display: -ms-flex;
     display: -o-flex;
     display: -webkit-box;
     display: -ms-flexbox;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.form{
    width: 444px;
    border-radius:8px;
    background-color: #fff;
    border: 1px solid #f5f4f3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 4px 0 18px rgba(0,0,0,0.7);
    box-shadow: 4px 0 18px rgba(0,0,0,0.7);
    padding: 30px 62px;
    }
.form_title{
    display: inline-block;
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #434343;
    position: relative;
    float: left;
}
.form_row{
    margin-bottom: 15px;
}
.form_title:before{
    content: "";
    height: 18px;
    width: 18px;
    background-color: #3cb878;
    position: absolute;
    display: block;
    right: 116px;
}
.form_link{
    float: right;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    color: #3cb878;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-top: 5px;
}
.form_link:hover{
    border-bottom:1px solid #3cb878;
}
.form_btm{
    width: 154px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 9px 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px;
    position: relative;
}
.form_btn-name{
    display: inline-block;
    line-height: 1.5;
}
.fab{
    float: left;
    padding-top: 5px;
}
.fab:after{
    content: "";
    display: inline-block;
    height: 28px;
    width: 1px;
    background-color: rgba(118, 110, 110, 0.23);
    margin-right: 15px;
    position: absolute;
    left: 40px;
    bottom: 6px;
    margin-right: 25px;
}
.blue{
    background-color: #305db8;
    margin-right: 6px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.red{
    background-color: #df4a32;
}
.blue:hover{
    background-color: #264b96;
}
.red:hover{
    background-color: #c3412c;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.form_row-or{
    text-align: center;
    margin-bottom: 10px;
}
.or{
    padding-top: 5px;
    color: #848484;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.or:before{
    content: '';
    display: inline-block;
    width: 43%;
    background-color: #eaeaea;
    margin-bottom:3px;
    height: 1px;
    margin-right: 10px;
}
.or:after{
    content: '';
    display: inline-block;
    width: 43%;
    background-color: #eaeaea;
    height: 1px;
    margin-left: 10px;
    margin-bottom:3px;
}
.input{
    width: 100%;
    padding: 18px;
    border: 1px solid #eaeaea;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 9px;
    color: #434343;
}
.last_input{
    margin-bottom:0;
}
.input::-webkit-input-placeholder{
    color: #c9c9c9;
}
.input:-ms-input-placeholder{
    color: #c9c9c9;
}
.input::placeholder{
    color: #c9c9c9;
}
.input:focus,
.input:hover{
    -webkit-box-shadow: 0px 0 8px rgba(0,0,0,0.5);
    box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
    border: 1px solid #fff;
    outline: 0;
    outline-offset: 0;
/*    margin-bottom: 15px;*/
}
.pseudocheckbox{
    color: #434343;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}
.form_link-terms{
    color: #3cb878;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.form_link-terms:hover{
    border-bottom: 1px solid #3cb878;
}

.checkbox{
    display: none;
}
.checkbox:checked + .pseudocheckbox::before{
     content: "\2714";
}
.pseudocheckbox::before {
    content: "\00A0";
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 14px;
    margin-right: 6px;
    margin-bottom: 20px;
    width: 20px;
    height: 18px;
    background-color: white;
    border: 1px solid #B0B0B0;
    border-radius: 2px;
    vertical-align: baseline;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    color: #39BA78;
    }
.form_btm-create{
    background-color: #3cb878;
    width: 100%;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 17px 0;
    border-radius: 2px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border:none;
    border-radius: 2px;
}
.form_btm-create:hover{
    background-color: #329a65;
}

