.wrapper{
    max-width: 1367px;
    height: 100%;
    background-image: url("../img/background1.jpg");
    background-size: cover;
    position: relative;
    margin: 0 auto;
    }
.wrapper:before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
}
.container{
    width: 1065px;
    margin: 0 auto;
    position: relative;
}
.clearfix:after{
    content: "";
    clear: both;
    display: table;
}
                    /*HEADER*/
.header{
    padding-top: 50px;
    margin-bottom: 50px;
}
.header_logo{
    float: left;
}
.header_logo-link{
    text-decoration: none;
}
.logo{
    background-image: url("../img/logo.png");
    float: left;
    width: 45px;
    height: 44px;
    margin-right: 15px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.header_logo-title{
    text-transform: uppercase;
    font-size: 29px;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    line-height: 0.8;
}
.header_logo-subtitle{
    text-transform: uppercase;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.header_logo-link:hover .logo-title {
    color: #f26522;
}
.header_logo-link:hover .logo {
    background-image: url("../img/logo1.png");
}
.header_contacts{
    float: right;
    text-align: right;
}
.header_contacts-style{
    color: #fff;
    font-size: 18px;
    line-height: 1.4;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
               /*MAIN*/
.main_img-box{
    float: left;
    margin-right: 58px;
    margin-bottom: 55px;
    position: relative;
}
.main_img-box:nth-child(3n){
    margin-right: 0;
}
.main_img-limk{
    text-decoration: none;
    display: block;
    padding: 2px 2px 2px 2px;
    background: #fefefe;
    background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#050a07));
    background: linear-gradient(#fefefe 0%, #050a07 100%);
    height: 201px;
     -webkit-box-shadow: 0px 17px 24px 0px rgba(0, 0, 0, 0.9);
     box-shadow: 0px 17px 24px 0px rgba(0, 0, 0, 0.9);
    margin-bottom: 22px;
}
.main_img{
    width: 312px;
    height: 200px;
}
.main_img-boxprice{
    padding: 14px 20px;
    background-color: #f26522;
    position: absolute;
    top: 138px;
    width: 312px;
    opacity: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition:0.4s;
    transition:0.4s;
}
.main_img-limk:hover .main_img-boxprice{
    opacity: 1;
}
.boxprice_from{
    float: left;
    width: 100%;
    font-size: 10px;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.7;
}
.boxprice_price{
    display: inline-block;
    font-size: 20px;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.boxprice_detalis{
    float: right;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    font-size: 14px;
    line-height:0.6;
    padding-top: 6px;
}
.boxprice_detalis:after{
    content: '';
    display: inline-block;
    height: 5px;
    width: 5px;
    border-right: 2px solid #f9b291;
    border-top: 2px solid #f9b291;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-right:5px;
}

.boxprice_title{
    font-size: 18px;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    display: inline-block;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
}
.main_img-box:hover .boxprice_title{
    color: #f26522;
}
                   /*FOOTER*/
.footer {
    padding-bottom: 20px;
}
.footer_copyright{
    font-size: 12px;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
}

