.footer{
    background-color: #000;
    padding: 40px 0;
}
.footer .container{
    text-align: center;
}
.footer-contacts-title{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    @include font(bold);
    @include inlineblock;
    margin-bottom: 10px;
    &:before{
        content: "";
        width: 4px;
        height: 2px;
        background-color: #fff;
        @include inlineblock(middle);
    }
    &:after{
        content: "";
        width: 4px;
        height: 2px;
        background-color: #fff;
        @include inlineblock(middle);
    }
}
.footer-contact-text{
    color: $grey-fonts-color;
    margin-bottom: 25px;
        font-size: 12px;
    @include font();
}
.social-links{
    margin-bottom: 31px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.social_link{
    font-size: 15px;
    border-radius: 50%;
    text-decoration: none;
    padding: 10px 14px;
    margin-right: 7px;
}
.rss_icon{
    color: #c6762b;
    border:2px solid #c6762b;
}
.fb_icon{
    color: #334c82;
    border: 2px solid  #334c82;
}
.twi_icon{
    color: #253a44;
    border: 2px solid  #253a44;
}
.dribb_icon{
    border: 2px solid  #ab638c;
    color: #ab638c;
}
.pin_icon{
    border: 2px solid #a42129;
    color: #a42129;
}
.footer-contacts{
    width: 100%;
    display: block;
     color: $grey-fonts-color;
    margin-bottom: 10px;
}
@include tablet{
    .our-contacts{
        @include flexbox-wrap(no-wrap);
        @include justify-content(center);
    }
    .footer-contacts{
        width: auto;
        margin-right: 15px;
    }
}
