.header{
    margin-bottom: 40px;
}
.about-img-bg{
    width: 100%;
    min-height: 150px;
    display: block;
    background-image: url("../../img/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@include phone{
    .about-img-bg{
    width:100%;
    height: 250px;
    background-position: center;;
}
}

@include tablet {
    .about-img-bg{
    height: 361px;
}
}
@include desktop{
    .about-img-bg{
            height: 550px;
    .header{
        margin-top: 118px;
    }
}
}
