.instagram-shots{
    padding: 50px 0;
}
.instagram-post-link{
    display: inline-block;
    width: 301px;
    height: 301px;
}
.instagram-post-img{
    width: 100%;
    height: 100%;
    display: block;
}
.desktop{
    display: none;
}
.tablet-inst{
    display: none;
}
@include tablet{
    .instagram-shots{
            background-color: #f0f0f0;
    }
    .tablet-inst{
        display: inline-block;
    }
    .instagram-post-link{
        width: 249px;
        height: 249px;
    }
    .flex-box_instagram-shots{
        @include flexbox-wrap(no-wrap);
        @include justify-content(space-between)
    }
    .instagram-link.tablet{
        display: inline-block;
        @include font(bold);
        font-size: 13px;
        text-transform: uppercase;
        @include inlineblock(middle);
        margin-bottom: 23px;
        color: $darck-grey;
        &:after{
        content: "";
        @include inlineblock(middle);
        width: 3px;
        height: 2px;
        margin-top: -4px;
        background-color: $darck-grey;
    }
}
    .instagram-line{
        @include flexbox-wrap(wrap);
        @include justify-content(space-between)
    }
}
@include desktop {
    .desktop{
    display: inline-block;
    }
        .instagram-post-link{
        width: 285px;
        height: 285px;
    }
}



