
.recents-posts-title{
    @include font(bold);
    font-size: 14px;
    text-transform: uppercase;
    @include inlineblock(middle);
    margin-bottom: 23px;
    color: $darck-grey;
    &:before{
        content: "";
        @include inlineblock(middle);
        width: 3px;
        height: 2px;
        margin-top: -4px;
        background-color: $darck-grey;
    }
}
.tablet{
    display:none;
}
.recent-post-img{
    margin-bottom: 11px;
}
.recent-post-title{
    font-size: 14px;
    @include font(bold);
    margin-bottom: 11px;
    color: $darck-grey;
}
.recent-post-info{
    @include font();
    font-size: 11px;
    color: $grey-fonts-color;
    margin-bottom: 25px;
}
@include phone {
    .recents-post{
        @include flexbox-wrap(no-wrap);
    }
    .recent-post-img{
    margin-right: 21px;
    margin-bottom: 35px;
    }
    .recent-post-text{
        @include font();
        font-size: 14px;
        color: $grey-fonts-color;
        line-height: 1.5;
    }
    .recent-post-text.tablet{
        display: block;
    }
}
@include desktop {
    .flex_box-container-post{
        @include flexbox-wrap(wrap);
    }
    .recents-post{
        width: 50%;
    }
}
