.navbar{
    padding: 25px 0;
    position: relative;
}
.navbar .container{
    @include flexbox-wrap(wrap);
    @include justify-content(flex-end);
}
.nav-btm{
    height: 32px;
    width: 40px;
    background-color: #000;
    @include flexbox-wrap(wrap);
    @include flex-box-position(center);
    padding: 10px 5px;
}
.line{
    height: 2px;
    width: 18px;
    background-color: #fff;
    display: block;
    margin-bottom: 2px;
}
.lines.hide{
    display: none;
}
.close {
  position: absolute;
  right: 32px;
  top: 30px;
  width: 30px;
  height: 30px;
    display: none;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.close.active{
    display: block;
}
.navbar-nav{
    position: absolute;
    display: none;
    right: 0;
    top:60px;
    width: 128px;
    z-index: 1;
    background-color: #fff;
}
.navbar-nav.active{
    display: block;
}
.navbar-nav-item{
    padding: 3px 0 3px 12px;
    border-bottom: 2px solid $grey-color;
    &:hover{
        background-color: $grey-color;
    }
}
.navbar-nav-link{
    @include font();
    @include links($darck-grey, $blue-color,$darck-grey,$blue-color);
    text-transform: uppercase;
    font-size: 11px;
}
.navbar-nav-link.active{
    color: $blue-color;
}
@include tablet {
    .nav-btm{
        display: none;
    }
    .navbar-nav{
        @include flexbox-wrap(no-wrap);
        position: static;
        width: 100%;
        @include justify-content(center);
    }
    .navbar-nav-item{
        border-bottom: none;
        margin-right: 20px;
        padding:  0 5px;
    }
}
@include desktop {
    .navbar-nav{
        display: none;
    }
}
