/*font-family: 'Roboto', sans-serif;*/
@font-face{
    font-family:"Junction-bold";
    src: url("../fonts/Junction-bold.otf");
}
.wrapper{
    outline: 1px solid #cccccc;
    min-width: 800px;
    max-width: 100%;
    margin: 0 auto;
    z-index: 0;
    position: relative;
}
.flex{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -QAms-flexbox;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.container{
    width: 1000px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0);
}
.img_fluid{
    display: block;
    max-width: 100%;
    height: auto;
}
.section_title{
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #66cbdc;
    font-weight: 500;
    margin-bottom: 25px;
    z-index: 1;
    width: 100%;
}
.section_subtitle{
    text-align: center;
    font-size: 18px;
    font-family: "Junction-bold", sans-serif;
    color: #687279;
    margin-bottom: 45px;
    z-index: 1;
    width: 100%;
}
/*

                                    HEADER

*/
.header {
    background:#fff;
    padding: 40px 0;
    position: relative;
    top: 30px;
    z-index: 1;
}
.header .container{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header_title{
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    color: #4f5b62;
}
.header_subtitle{
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    color: #66cbdc;
    font-weight: 600;
    text-transform: uppercase;
}
.header_item{
    display: inline-block;
    margin-right: 60px;
}
.header_link{
    font-size: 15px;
    font-family:'Roboto', sans-serif ;
    text-decoration: none;
    color: #3e4c4e;
    text-transform: uppercase;
    font-weight: 600;
}
.header_link:hover{
     color: #66cbdc;
}
 .active{
     color: #66cbdc;
}

/*                                CREATR                          */
.create{
    background-image:url("img/bg1.jpg");
    height: 600px;
    width: 100%;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    z-index: 1;
}
.create:before{
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.72);
    z-index: 0;
}
.create .container{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
.text{
    z-index: 1;
}
.create_text{
    font-size: 52px;
    font-weight: 700;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    z-index: 1;
    text-align: center;
    text-transform: uppercase;
}

/*            What                             */

.what{
    height: 500px;
    position: relative;
    z-index: 2;
}
.what:before{
    content: "";
    height: 490px;
    width: 50%;
    -webkit-transform: skewY(7deg);
    transform: skewY(7deg);
    position: absolute;
    bottom: 53px;
    z-index: 0;
    background: #fff;
}
.what:after{
    content: "";
    height: 490px;
    width: 50%;
    -webkit-transform: skewY(-7deg);
    transform: skewY(-7deg);
    position: absolute;
    bottom: 53px;
    left: 50%;
    z-index: 0;
    background: #fff;
}
.what .container{
    padding-top: 100px;
    background-color: rgba(255, 255, 255, 0);
}
.what_text{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    z-index: 1;
    text-align: center;
    color: #424f57;
}

/*                    COMPANIES:                 ;*/

.companies{
    margin-top: -100px;
    background-image: url("img/bg2.jpg");
    padding-top: 135px;
    height: 635px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    position: relative;
    z-index: 0;
}
.companies:before{
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.89);
    z-index: 0;
}
.companies_img-box{
    z-index: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.companies_item{
    width: 225px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 100px;
}

.companies .section_subtitle{
    color: #fff;
}

/*            MEET US         */

.meet_us{
    height: 760px;
    position: relative;
    z-index: 1;
}
.meet_us:before{
    content: "";
    height: 760px;
    width: 50%;
    -webkit-transform: skewY(7deg);
    transform: skewY(7deg);
    position: absolute;
    bottom: 53px;
    z-index: 0;
    background: #fff;
}
.meet_us:after{
    content: "";
    height: 760px;
    width: 50%;
    -webkit-transform: skewY(-7deg);
    transform: skewY(-7deg);

    position: absolute;
    bottom: 53px;
    left: 50%;
    z-index: 0;
    background: #fff;
}
.meet_us .container{
    padding-top: 100px;
}
.meet_item-box{
    z-index: 1;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
}
.meet_item{
    text-align: center;
    padding: 0 40px;
}
.meet_img{
    margin-bottom: 30px;
}
.meet_img-descript{
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #4f5b62;
}
/*

TESTIOMONIALS

*/
.testimonials{
    margin-top: -100px;
    background-image: url("img/bg3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    height: 580px;
    position: relative;
    z-index: 0;
}
.testimonials:before{
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.61);
    z-index: 0;
}
.testimonials .container{
    padding-top: 200px;
    z-index: 1;
}
.testimonials .section_subtitle{
    color:#fff;
}
.section_text{
    color: #a49e9e;
    z-index: 1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin-bottom: 20px;
}
.test_signatyre{
    color: #fff;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    text-align: right;
    width: 100%;
    margin-right: 100px;
}

/*
                    WHY
*/
.why{
    position: relative;
    height: 600px;
}
.why .container{
    padding-top: 100px;
    z-index: 1;
    -webkit-box-pack: content:
    -ms-flex-pack: center;
    justify-content: center;
}
.why:before{
    content: "";
    height: 600px;
    width: 50%;
    -webkit-transform: skewY(7deg);
    transform: skewY(7deg);
    position: absolute;
    bottom: 53px;
    z-index: 0;
    background: #fff;
}
.why:after{
    content: "";
    height: 600px;
    width: 50%;
    -webkit-transform: skewY(-7deg);
    transform: skewY(-7deg);
    position: absolute;
    bottom: 53px;
    left: 50%;
    z-index: 0;
    background: #fff;
}
.why_text{
    z-index: 1;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    width: 780px;
    color: #424f57;
    line-height: 2;
}
/*
FOOTER
*/

.footer {
    height: 77px;
    background: brown;
    margin-bottom:10px;
    z-index: 1;
}
.footer .container{
    z-index: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.copirite{
    text-align: center;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
.copirate_mane{
    font-weight: 700;

}
