
/*fonts*/
@font-face{
    font-family:"Open-Sans-bold";
    src:url('../fonts/OpenSans-Bold.ttf');
}
@font-face{
    font-family:"Open-Sans-regular";
    src:url('../fonts/OpenSans-Regular.ttf');
}

.wrapper{
    outline: 1px solid #cccccc;
    min-width: 800px;
    max-width: 1900px    ;
    margin: 0 auto;
    min-height: 100%;
}
.flex{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.container{
    width: 1171px;
    margin: 0 auto;
}
.section_title{
    font-size: 27px;
    color: #18b4cf;
    text-transform: uppercase;
    font-family: 'Open-Sans-bold', sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 62px 0 52px 0;
}
.img-fluid {
    display:block;
    max-width: 100%;
    height: auto;
}
                        /*        HEADER*/
.header{
    background-color: #1d2124;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.logo_box{
    width: 70px;
    height: 70px;
    background-color: #1a1d20;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}
.header_title{
    display: block;
    font-size: 22px;
    font-family: "Open-Sans-bold";
    line-height: 3;
    margin-left: 5px;
    padding-top: 3px;
}
.search_box{
    width: 70px;
    height: 70px;
    background-color: #1a1d20;
    color: #fff;
    font-size: 18px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.logo_item{
    cursor: pointer;
}
.header_logo-link{
    text-decoration: none;
    color: #fff;
    padding: 20px;
}
.header_title{
    color: #fff;
}
.header_list-item{
    display: inline-block;
}
.header_list-link{
    font-family: "Open-sans-regular", sans-serif;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    line-height: 5;
    text-transform: uppercase;
    margin-right: 36px;
}
.header_list-link:hover{
    padding: 5px 0;
    background-color: #fff;
    color: #1d2124;
}
            /*      latestnews-SECTION*/
.latestnews{
    background-image: url(../img/header-bg.jpeg);
/*    background-size: contain;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 374px;
    position: relative;
    background-attachment: fixed;
}
.latestnews::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.43);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}
.latestnews_centerbox{
    z-index: 1;
}
.flex_center{
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
       -webkit-box-align: center;
       -ms-flex-align: center;
       align-items: center;
}
.section_row{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.latestnews_title{
    font-size: 27px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Open-sans-regular", sans-serif;
    margin-bottom: 45px;
}
.latestnews_btn{
    width: 170px;
    padding: 20px;
    font-family:"Open-sans-regular"    , sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
}
.btn_bg-blue{
    background-color: #14b9d5;
}
.btn_bg-green{
    background-color: #89ca62;
    margin-right: 20px;
}
                    /*                    POSTS-SECTION*/
.posts{
    background-color: #f2f2f2;
    padding-bottom: 32px;
}
.section_box{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

}
.section_col{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.section_box-item{
    width: 370px;
    -ms-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.latest_img-description{
    padding: 20px 0;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 30px;
    font-size: 18px;
    color: #353a3d;
    font-family:"Open-sans-bold", sans-serif;
    font-weight: 600;
}
                        /*CLIENTS-SECTION*/
.clients{
    background-image: url(../img/parallax-bg.jpeg);
    background-repeat: no-repeat;
/*    background-position: 50px 10px;*/
    background-size: cover;
    height: 590px;
    background-attachment: fixed;
}
.flex_aling_clients{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
.title_container{
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.clients_grid{
    display: grid;
    grid-template-columns:repeat(4, auto);
    grid-gap:76px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.clients_title{
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
    font-family: "Open-Sans-regular", sans-serif;
    text-align: center;
    width: 100%;
    font-weight: 600;
}
.clients_title:after{
    content: "";
    height: 3px;
    width: 50px;
    background-color: #169cb4;
    display: block;
    margin: 55px auto

}
.clients_row{
    width: 100%;
}
                        /*    TOPRATED-SECTION*/
.toprated_grid{
    display:grid;
    grid-template: 1fr / repeat(7, 1fr);
}
                            /*    HOT-NEWS-SECTION*/
.hotnews{
    margin-bottom: 70px;
}
.hotnews_gridbox{
    margin: 0 auto;
    display: grid;
    grid-template-areas:"item_1 item_1 item_1 item_2"
                        "item_3 item_3 item_4 item_4"
                        "item_5 item_5 item_6 item_6"
                        "item_7 item_8 item_8 item_8";
    grid-column-gap:30px;
    grid-row-gap:30px;
}
.grid_item1{
    grid-area:item_1;
    display: grid;
    grid-template-columns:1fr 1fr;
}
.grid_item2{
    grid-area:item_2;
}
.grid_item3{
    grid-area:item_3;
}
.grid_item4{
    grid-area:item_4;
     justify-self:right;
}
.grid_item5{
    grid-area:item_5;
}
.grid_item6{
   grid-area:item_6;
   justify-self:right;
}
.grid_item7{
    grid-area:item_7;
}
.grid_item8{
    grid-area:item_8;
    justify-self:right;
    display: grid;
    grid-template-columns:1fr 1fr;;
}
.hotnews_description_box{
    background-color: #f9f7f7;
    padding: 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}
.hotnews_description_small-box{
    background-color: #f9f7f7;
    text-align: center;
}
.hotnews_img{
    width: 100%;
    height: 100%;
    display: block;
}
.hotnews_description_small-box .hotnews_title{
    text-align: center;
    padding: 15px 0;
    margin-bottom: 0;
}
.hotnews_description_box-right{
    background-color: #f9f7f7;
    padding: 24px 24px 24px 24px;
    text-align: center;
    font-family: "Open-Sans-regular", sans-serif;
    font-size: 14px;
    color: #666e72;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5;
}
.hotnews_description{
    font-family:"Open-Sans-regular" ,sans-serif;
    line-height: 1.5;
    text-align: right;
    font-size: 14px;
}
.hotnews_title{
    margin-bottom: 25px;
    font-family: "Open-Sans-bold", sans-serif;
    font-size: 18px;
    text-align: right;
    font-weight: 600;
    color: #353a3d;
}
.footer {
    background-color: #1d2124;
    padding: 35px 0;

}
.footer .container{
    display: grid;
    grid-template:"footer-left footer-right";
}
.footer_left{
    grid-area:footer-left;
}
.footer_right{
    grid-area:footer-right;
    display: grid;
    justify-items:end;
}

.footer_label-link{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
}
.footer_logo-img{
    padding-top: 3px;

}
.footer_logo{
    font-family: "Open-Sans-bold", sans-serif;
}
.copyright{
    font-size:13px;
    color: #fff;
    line-height: 2;
        font-family: "Open-Sans-regular", sans-serif;
}
