body, html {
    width: 100%;
    height: 100%;
}
*{
    box-sizing: border-box;
}
body {
    font-size: 12px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-family: Arial, Helvetica, sans-serif;

}

.wrapper {
    overflow: hidden;
    max-width: 1400px;
    margin: 0 auto;
}
.container {
    width: 100%;
    padding: 0 25px;
 }
a{
    text-decoration: none;
}
