body{
    font: 700 1em Arial, sans-serif;
    letter-spacing:.15em;
}
.wrapper{
    background-color: #000;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.scroller{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-perspective: 400px;
    perspective: 200px;
    margin: 0 20% 0 20%;
    height: 800px;
    font-weight: 600;
    font-size: 600%;
    color: gold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: justify;
}
.scroller_box{
  position: relative;
   top: 99999px;
-webkit-transform-origin: 50% 100%;
transform-origin: 50% 100%;
    -webkit-animation: scroller 60s linear;
    animation: scroller 60s linear;
}
@-webkit-keyframes scroller {
    0%{
        top: 1000px;
        -webkit-transform: rotateX(20deg) translateZ(0);
        transform: rotateX(20deg) translateZ(0);
    }
    100%{
        top: -6000px;
        -webkit-transform: rotateX(25deg) translateZ(-2500px);
        transform: rotateX(25deg)translateZ(-2500px)
    }
}
@keyframes scroller {
    0%{
        top: 1000px;
        -webkit-transform: rotateX(20deg) translateZ(0);
        transform: rotateX(20deg) translateZ(0)
    }
    100%{
        top: -6000px;
        -webkit-transform: rotateX(25deg) translateZ(-2500px);
        transform: rotateX(25deg) translateZ(-2500px)
    }
}
.title {
    text-align: center;
}
.paragraph{
    margin: 1.35em 0 1.85em 0;
    line-height: 1.35em;
}
