body{
    margin: 0;
    background-color: #000;
}
h4{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    color: #fff;
}
.wrapper{
    min-width: 100%;
    height: 100vh;
}
.row{
    margin-top: 20px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.container{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.title{
    color: #fcfc0d;
    font-size: 50px;
}
.sidebar{
    width: 400px;
    border: 1px solid #fff;
    min-height: 400px;
    margin-left: 20px;
    padding: 10px;
    margin-right: 10px;
}
.sidebar-title{
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 10px;
}
.show_btn{
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 3px;
}
.filmName{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    cursor: pointer;
}
.filmName:hover{
    border-bottom: 1px solid #fff;

}
.main{
    border: 1px solid #fff;
    padding: 10px;
    width: 1000px;
}
.text{
    color: #fff;
}
