
.wrapper{
    max-width: 1280px;
    margin: 0 auto;
}
.color_blue{
    color: #4bcaff;
}
/* Header
----------------------------------------------------------------------------*/
.header{
    padding-top:62px;
    margin-bottom: 50px;
}
.button_list{
    display: inline-block;
    margin-bottom: 20px;
}
.button_item{
    margin-right: 20px;
    display: inline-block;
}
.header_title{
    text-align: left;
    font-size: 80px;
    padding-bottom: 62px;
}
.header_title-link{
    color: #000;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
}
.header_nav{
    background-color: #35444f;
    padding: 0 126px;
}
.header_nav-item{
    display: inline-block;
}
.header_nav-link{
    color: #fff;
    font-size: 24px;
    padding: 27px 40px;
    display: inline-block;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.header_nav-link:hover{
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;

}
            /*SIDEBER*/
.sidebar{
    display: inline-block;
    border:1px solid #000;
    width: 345px;
    vertical-align: top;
    margin-right: 52px;
}
.sidebar_item-link{
    padding-left: 45px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: block;
    font-size: 27px;
    color: #495863;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.sidebar_item-link:hover{
    background-color: #dbdbdb;
    padding-left: 70px;
    color: #000;
}
            /*CONTENT*/
.content{
    display: inline-block;
    width: 876px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.content_imgbox{
    border:1px solid #000;
    margin-bottom: 50px;
    width: 100%    ;
    height: 528px;
}
.content_imgbox-link{
    display: block;
    margin:75px auto;
    width: 320px;
    height: 380px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.content_imgbox-link:hover{
    margin-top: 70px;
    height: 395px;
    width: 335px;
}
.content_img{
    width: 100%;
    height: 100%;
}
.content_descriptuin{
    font-size: 18px;
    color: #2c2c2c;
    margin-bottom: 50px;
    line-height: 1.5;
    margin-left: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
    background-color: #b4b7ba;
    padding: 25px 35px;
}
.footer_nav{
    display: inline-block;
}
.footer_nav-item{
    display: inline-block;
    margin-left: 25px;

}
.footer_item-link{
    font-size: 25px;
    color: #000;
    display: block;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.footer_item-link:hover{
    color: #3181a6;
    text-decoration: underline;
}
.copyright{
    margin-left: 210px;
    display: inline-block;
    font-size: 25px;
    color: #919395;
    vertical-align: top;
}
