@font-face {
    font-family: 'arimoregular';
    src: url('Arimo-Regular-webfont.eot');
    src: url('Arimo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Arimo-Regular-webfont.woff2') format('woff2'),
         url('Arimo-Regular-webfont.woff') format('woff'),
         url('Arimo-Regular-webfont.ttf') format('truetype'),
         url('Arimo-Regular-webfont.svg#arimoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'arimobold';
    src: url('Arimo-Bold-webfont.eot');
    src: url('Arimo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Arimo-Bold-webfont.woff2') format('woff2'),
         url('Arimo-Bold-webfont.woff') format('woff'),
         url('Arimo-Bold-webfont.ttf') format('truetype'),
         url('Arimo-Bold-webfont.svg#arimobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'arimobold_italic';
    src: url('Arimo-BoldItalic-webfont.eot');
    src: url('Arimo-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Arimo-BoldItalic-webfont.woff2') format('woff2'),
         url('Arimo-BoldItalic-webfont.woff') format('woff'),
         url('Arimo-BoldItalic-webfont.ttf') format('truetype'),
         url('Arimo-BoldItalic-webfont.svg#arimobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'arimoitalic';
    src: url('Arimo-Italic-webfont.eot');
    src: url('Arimo-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Arimo-Italic-webfont.woff2') format('woff2'),
         url('Arimo-Italic-webfont.woff') format('woff'),
         url('Arimo-Italic-webfont.ttf') format('truetype'),
         url('Arimo-Italic-webfont.svg#arimoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




