* 
{
  margin: 0;
  padding: 0;
}
body{
	max-width: 1280px;
	height: 100%;
	margin: 0 auto;
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
}
.conteiner{
	width: 1080px;
	margin: 0 auto;
}
.header{
	height: 81px;
}
.header_nav{
	padding-top: 20px
}
.img{
	width: 1280px;
	height: 794px;
	display: block;
	margin: 0 auto;
}
.header_nav__list{
	text-align: center;
	
}
.header_nav__list-item{
	display: inline-block;
	margin-left: 70px;
}
.header_nav__list-link {
    font-size: 18px;
    color: #16a085;
    text-transform: uppercase;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
  	display: inline-block;
	padding: 10px;
}
.main{
	padding-top: 52px;
	padding-bottom: 94px;
	background-color: #f5f6f7;
}
.nav_title{
     font-size: 22px;
     color: #373737;
     text-transform: uppercase;
     text-align: center;
	 font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	 text-align: center;
}
.nav_article{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding-top: 35px;
	color:#373737;
	font-weight:600;
	text-align: center;
	font-size: 16px;
}
.button{
	width: 100%;
	padding-top: 41px;
	display: inline-block;
	text-align: center;
	
}
.batton_link{
	height: 51px;
	width: 192px;
	display: block;
	color: #fff;
	padding-top: 21px;
	background-color: #16a085;
	border-radius: 3px;
	text-align: center;
	margin: 0 auto;
	text-transform: uppercase;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.footer{
	height: 108px;
	padding-top: 46px;
	text-align: right;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.copyright{
	
	font-size: 16px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #373737;
	font-weight:600;	
}

