body{
    margin: 0;
    background-image: url('https://source.unsplash.com/user/erondu/1600x900');
    background-size: cover;
    background-position: center;
}
h4{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.wrapper{
    min-width: 100%;
    height: 100vh;
}
.row{
    margin-top: 20px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.columns{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
     max-width: 1200px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.addCard{
    width: 50px;
    height: 50px;
    background-color: #E2E4E6;
    font-size: 50px;
    text-align: center;
    border-radius: 3px;
    color: #000;
    padding-bottom: 3px;
}

.column{
    width: 300px;
    background-color:#E2E4E6;
    border-radius: 4px;
    padding: 10px;
    margin-right: 50px;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-bottom: 50px;
}

.column-header{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    display: inline-block;
}

.note-container{
    min-height: 100px;
}

.columnBtn{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    color: #737374;
    border: 1px solid #9C9C9D;
    padding: 3px;
    border-radius: 3px;
    background-color: #d6d8d9;
    margin-top: 20px;
}
.collumnBtn{
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.dots{
    display: inline-block;
    float: right;
    background-color: #d6d8d9;
        border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}
.note{
    background-color: #fff;
    padding: 5px;
    min-height: 50px;
    border-radius: 3px;
    margin-bottom: 10px;
    -webkit-box-shadow: 1px 1px 1px 1px #000;
    box-shadow: 1px 1px 1px 1px #d9d9d9;
}
.note.dragget{
    opacity: 0.01;
}
.note.under{
    opacity: 0.3;
}
