.warapper{
    max-width: 1980px;
    height: 100vh;
    background-color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.flex{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
}
.header{
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #fff;
}
.container{
    max-width: 1050px;
    margin: 0 auto;
}
.header-padding{
    padding: 10px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header-left{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.logo{
font-size: 50px;
color: blue;
}
.search{
margin-left: 30px;
color: #000;
width: 300px;
padding: 5px;
border-radius: 10px;
}
 input[type="search"]::-webkit-input-placeholder {
    color: #000;
   }

 input[type="search"]::-moz-placeholder {
    color: #000;
   }
.header-right{
-ms-flex-line-pack: center;
align-content: center;
}
.header-btn{
    margin-right: 20px;
    text-decoration: none;
    width: 100px;
    text-align: center;
    border: 1px solid blue;
    padding: 10px;
    border-radius: 20px;
    color: blue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
}
.sing-in{
    background-color: blue;
    color: #fff;
}
.main:before{
    content: "";
    height: 100px;
    display: block;
}
.article-box{
    border: 1px solid #ccc;
/*    min-height: 500px;*/
    width: 65%;
    margin-right: 5%;
    padding: 10px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.card-row{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}
.card{
    background-color: #F6F9FB;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
}

.user-name{
    color: #988f8f;
    display: inline-block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-left: 10px;
    font-size: 20px;
}
.clouse{
    display: inline-block;
    float: right;
    border: 1px solid blue;
    padding: 2px;
    cursor: pointer;
    color: blue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-right: 10px;
}
.fa-clipboard-check{
    color: blue;
}
.name{
    margin-left: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}
.article-title{
    margin-left: 30px;
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}
.mail{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-left: 10px;
    margin-bottom: 10px;
}
.fa-envelope{
    color: blue;
}
.article{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 5px;
    border: 1px solid #6c6767;
    border-radius: 5px;
    margin-bottom: 10px;
    line-height: 1.5;
}
.article.textarea{
    width: 500px;
    height: 100px;
}
.article.article-width{
    width: 400px;
}
.sidebar{
 border: 1px solid #ccc;
    width: 25%;
}
.article-bottom{
    padding: 10px;
}
.discussions{
    margin-right: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.fa-comments{
    color: blue;
}
.likes{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.fa-heart{
    color: blue;
    cursor: pointer;
}
