@media (min-width: 1280px){
    .container{
        max-width: 1100px;
        margin: 0 auto;
        -webkit-box-sizing: border-box;
        padding: 0;
        box-sizing: border-box;
        height: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .nav{
        margin-bottom: 5px;
        height: 80px;
    }
    .header-titleBox{
        margin-left: 50px;
        margin-top: 80px;
    }
    .header-webBox{
        margin-left: 110px;
    }
    .header{
        background-image: url(../img/header-big-bg.png);
         max-width: 957px;
        margin: 0 auto;
        position: relative;
        margin-bottom: 35px;
    }
    .header:after{
        position: absolute;
        height: 350px;
        width: 105px;
        top: 0;
        right: -98px
    }

    .nav-item{
        margin-right: 100px;
        margin-top: -1px;
    }
    .nav-item:hover{
        margin-right: 100px;
    }
    .nav-item:last-child{
        margin-right: -50px;
    }
    .main-item{
        width: 33%
    }
    .main-imgBox{
        padding: 0 100px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 100px;
    }
    .map-box{
        max-width: 580px;
        margin: 0 auto;
        padding:15px;
        height: 300px;

    }
    .map{
        height: 234px;
        background-image: url('../img/big-map.png');
    }
    .footer{
        border: none;
        max-width: 1000px;
        margin: 0 auto;
    }
    .footer-title{
        font-size: 45px;
        text-align: left;
        -ms-flex-item-align: start;
        align-self: center;
        padding-left: 20px;
    }
    .footer-box{
        width: 100%;
         height: 100px;
        padding-top: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-between;
        -ms-flex-pack: space-between;
        justify-content: space-between;
           -webkit-box-align: center;
           -ms-flex-align: center;
           align-items: center;
    }
.mail-img:before{
    content: "amail";
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    display: inline-block;
    width: 45px;
    height: 80px;
    padding-top:55px;
    background-image: url(../img/big-mail.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 55%;
    top: 0;
    margin-top: -100px;
    margin-right: -23px;
}
    .phone:before{
    content: "coll";
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    display: inline-block;
    width: 45px;
    height: 100px;
    padding-top: 65px;
    background-image: url(../img/big-phone.png);
    background-repeat: no-repeat;
    margin-right: 25px;
    position: absolute;
    left: 55%;
    top: 0;
    margin-top: -90px;
    margin-right: -23px;
}
    .address-img:before{
    content: "lacotion";
    color: #fff;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    display: inline-block;
    width: 45px;
    height: 80px;
    padding-top: 65px;
    background-image: url(../img/big-point.png);
    background-repeat: no-repeat;
    margin-right: 25px;
    position: absolute;
       left: 55%;
    top: 0;
    margin-top: -90px;
    margin-right: -13px;
}
}
