/*    fonts                */
/*font-family: 'Montserrat',sans-serif */

.wrapper{
    outline: 1px solid #cccccc;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #141515;
}
.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.img-fluid{
    max-width: 100%;
    height: auto;
    display: block;
}
.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.nav{
    position: relative;
    height: 51px;
}
.nav-logo-link{
    display: block;
    height: 51px;
    width: 70px;
}
.nav-btn{
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.line{
    display: block;
    width: 25px;
    height: 2px;
    background-color:  #F38A03;
    margin-bottom:7px;
}
.nav .container{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.nav-list{
    background: #fff;
    position: absolute;
    right: 0;
    top: 51px;
    background-color: #141515;
    background-color: #141515;
    border: 1px solid #F38A03;
    padding: 5px 20px 5px 0px;
    width: 100px;
    display: none;
}
.nav-list.active{
    display: block;
    z-index: 1;
}
.nav-btn:hover .nav-list {
    display: block;
}
.nav-item{
    margin-bottom: 10px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    margin-left: 5px;
}
.nav-item:last-child{
    margin-bottom: 0;
}
.nav-item:hover{
    border-bottom: 1px solid #F38A03;
    margin-left: 10px;
}
.nav-link{
    text-decoration: none;
    color: #F38A03;
    font-family: 'Montserrat',sans-serif;
}
.header{
    height: 460px;
    background-image: url("../img/header-small-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 100px;
}
.header:after{
    content: "";
    display: block;
    width: 70%;
    height: 65px;
    background-color: #ED1260;
    position: absolute;
    bottom: -65px;
    right: 0;
}
.header-titleBox{
    background-color: #141515;
    margin-top: 40px;
    margin-bottom: 15px;
    width: 257px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.header-title{
    color: #fff;
     font-family: 'Montserrat',sans-serif;
    font-size: 25px;
    padding: 40px 30px;
    text-transform: uppercase;

}
.header-webBox{
    background-color: #141515;
    text-align: center;
    margin-left: 50px;
    padding: 7px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 131px;
}
.wed-link{
    text-decoration: none;
    font-family: 'Montserrat',sans-serif;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.wed-link:hover{
    color: #f38a03;
    border-bottom: 1px solid #f38a03;
}
/*            mein-section:     ;*/
.main{
    margin-bottom: 60px;
}
.article{
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    line-height: 1.5;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 65px;
}
.main-item{
    width: 50%;
    text-align: center;
}
.main-img-box{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
        height: 80px;
}
.main-item-link{
    display: block;
}
.main-title{
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    margin-bottom: 25px;
    padding: 0 10px;
}
.map-box{
    border: 5px solid #ED1260;
    text-align: center;
    height: 177px;
    padding-top: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
}
.map{
    display: block;
    width: 100%;
    height: 130px;
    background-image: url(../img/small-map.png);
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 10px;
}
.address{
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
}
.map-img{
    margin-bottom: 10px;
}

/*            footer*/

.footer{
    border: 5px solid #F38A03;
    padding: 26px 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
.footer-title{
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat',sans-serif;
    margin-bottom: 21px;
    width: 100%
}
.contacts{
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    margin-bottom:10px ;
    width: 100%;
    text-align: center;
}
.footer-row{
    margin-bottom: 20px;
    text-align: left;
}
.footer-row-box{
 display: inline-block;
    position: relative;
    padding-left: 50px;
}
.mail-img:before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../img/message.png);
    background-repeat: no-repeat;
    margin-right: 25px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -16px;
}
.phone:before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 24px;
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
    margin-right: 25px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -16px;
}
.address-img:before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 26px;
    background-image: url(../img/point.png);
    background-repeat: no-repeat;
    margin-right: 25px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -20px;
}
