@media (min-width: 567px) {
    .container{
        max-width: 540px;
    }
    .header{
        background-image: url(../img/header-big-bg.png);
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .map-box{
        max-width: 450px;
    }
    .footer-box{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .footer-row{
        margin-right: 20px;
    }
}
@media (min-width:769px){
    .nav-btn{
        display: none;
    }
    .nav-list{
        display: block;
        position: static;
        width:auto;
        border: none;
    }
    .nav-item{
        display: inline-block;
        margin: 0;
        margin-right: 5px;
        font-size: 12px;
        line-height: 3;
        color: #fff;
    }

    .nav-item:hover{
        margin: 0;
        margin-right: 5px;
    }
     .nav-item:last-child{
        margin-right: -20px;
    }
    .nav-link{
        color: #fff;
    }
    .nav-item:hover .nav-link{
     color: #F38A03;
    }
}
