$darck-grey: #4E4E4E;
$grey-color:#F5F5F5;
$blue-color:#57A4A4;
$grey-fonts-color:#7C7C7C;
@import 'misc/misc';
@import 'sections/section';

@include tablet {
    .container{
        max-width: 768px;
        margin: 0 auto;
        padding: 0;
    }
}
@include desktop {
    .container{
        max-width: 1170px;
    }
}
