                                /*fonts*/

/*        font-family: 'Montserrat', sans-serif;*/

/*                            global styles               */
.wrapper{
    outline: 1px solid #cccccc;
    min-width: 800px;
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100%;
    height: 100%;
    position: relative;
/*    z-index: 0;*/
}
.container{
    width: 1141px;
    margin: 0 auto;
}
.green{
    color: #18cfab;
}
.flex{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.img_fluid{
    display: block;
    max-width: 100%;
    max-height:100%;
    margin: 0 auto;
}
.section_title{
    text-align: center;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    color: #4e4e4e;
    margin-bottom:70px;
}
.section_title:after{
    content: "";
    display: block;
    height: 1px;
    background-color: #18cfab;
    width: 76px;
    margin: 45px auto;
    -webkit-box-shadow: 12px 3px 0px #18cfab;
    box-shadow: 12px 3px 0px #18cfab;
}
/*            header    */

.header{
    background-color: rgba(96, 95, 90, 0.61);
    min-width: 100%;
/*    min-height: 100%;*/
     padding: 30px 0;
}

.title_link{
    text-decoration: none;
    position: relative;
}
.title_logo{
        background-color: #18cfab;
        width: 60px;
        height: 35px;
        display: inline-block;
        text-transform: uppercase;
        font-size: 40px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: #fff;
        line-height: 0.9;
        margin-right: 8px;
}
.title_logo:before{
    content: "";
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-bottom: 15px solid #18cfab;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 35px;
}

.title_logo:after{
    content: "";
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-top: 15px solid #18cfab;
    display: inline-block;
    margin-top: -1px;
}

.this{
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.ham{
    font-size: 32px;
    color: #18cfab;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.header_item{
    margin-right:25px;
    position: relative;
}
.header_link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: #b8b8b8;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: inline-block;
}
.header_link-search{
    font-size: 13px;
    color: #b8b8b8;
    display: inline-block;
}
.header_link-search:hover{
    color: #18cfab;
}
.header_link:hover{
    color: #18cfab;
    margin-bottom: -43px;
    padding-bottom: 41px;
    border-bottom: 2px solid #18cfab;
}

/*                weAre section        */
.weAre{
    background-image: url("../img/Sections_background/section-1(header).jpg");
    height: 1014px;
    background-attachment: fixed;
/*    margin-top: -110px;*/
/*    z-index: 1;*/
}
.weAre .container{
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header .header_container-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.weAre_box{
    text-align: center;
}
.weAre_wrap-box{
    text-align: center;
}
.weAre_subtitle{
    font-size: 35px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.weAre_btn_box{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
}
.weAre_title{
    font-size: 79px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom:40px;
}
.header_subtitle_button{
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    color: #9f9e9e;
    margin-bottom:140px ;
}
.btn_link{
    width: 165px;
    text-decoration: none;
    background: #18cfab;
    margin-right: 28px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 25px;
    border-radius: 3px;
    font-weight: bold;
    -webkit-box-shadow: 0px -4px 0px #fff;
    box-shadow: 0px -4px 0px #fff;
}
.blue{
    background-color: #00cbf6;
}

/*                        options section*/

.options{
    margin-bottom: 100px;
}
.options_box{
    width: 25%;
    background: #18cfab;
    border-top: 7px solid #fff;
    padding: 125px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
}
.options_box:nth-child(odd){
    background-color:#1c2a33;
    border-top: 7px solid #18cfab;
    color: #18cfab;
    line-height: 1.;
}
.options_box-img{
    height: 110px;
/*    display: block;*/
    width: 100px;
    margin-bottom:20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.options_subtitle{
    width: 100%;
    text-align: center;
    font-size:20px;
     font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

/*                sevises*/
.services .container{
    margin-bottom: 100px;
}
.services_tabs{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.services_item-tabs{
    color: #717171;
     font-family: 'Montserrat', sans-serif;
    border: 1px solid #eeeeef;
    text-align: center;
    padding: 25px 0;
    margin-bottom: 24px;
    background-color: #f8fcfe;
    -webkit-box-shadow: 1px 1px 1px #eeeeef;
    box-shadow: 1px 1px 0px rgba(238, 238, 239, 0.37);
    position: relative;
    cursor: pointer;
}
.services_item-tabs:nth-child(odd){
    border-left: none;
    border-right: none;
}
.services_item-tabs.active{
    background-color: #18cfab;
    color: #fff;
}
.services_item-tabs.active:after{
    content: "";
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top: 15px solid #18cfab;
    display: inline-block;
    margin-top: -1px;
    position: absolute;
    top: 65px;
    left: 50%;
    margin-left: -15px;
}
.services_articles-item{
    width: 100%;
    display: none;
}
.services_articles-item.active{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.servises_img-box{
    width: 200px;
    height: 140px;
    margin-right: 20px;
}
.paragraph_box{
    width: 75%;
}
.servises_img.img_fluid{
    display: inline;
    border: 1px solid #b2b4a8;
}
.services_article{
    font-size: 14px;
     font-family: 'Montserrat', sans-serif;
    line-height: 2;
    color: #717171
    }
/*                    justBuy:             */

.justBuy{
    background-image:url("../img/Sections_background/section-2.jpg");
    background-size:cover ;
    background-position: center;
    background-attachment: fixed;
    height: 478px;
    position: relative;
}
.justBuy:before{
    content: "";
    background-color: rgba(23, 22, 22, 0.79);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}
.justBuy .container{
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}
.justBuy_content{
    z-index: 1;
    text-align: center;

}
.justBuy_title{
    color: #18cfab;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 35px;
}
.justBuy_subtitle{
    font-size: 16px;
    color: #d8d8d8;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 100px;
}

/*                    work               */
.work{
    padding-top: 100px;
    background-color: #f8fcfe;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.work_content{
    text-align: center;
}
.margin_top-none{
    margin-top: 0;
}
.work_tabs{
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 70px;
}
.workImg_list-all{
    padding-left: 2px;
}
.work_item{
    border: 1px solid #ebebeb;
    background-color: #fff;
}

.work_item:nth-child(even){
    border-right: none;
    border-left: none;
}
.work_link{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    display: block;
    margin: 25px 20px;
}
.work_item.active{
    border-top:2px solid #18cfab;
    margin-top: -2px;
    -webkit-box-shadow:1px 1px 0px #ebebeb inset;
    box-shadow:0px 1px 0px #ebebeb inset;
}

.work_item.active .work_link{
    color: #18cfab;
}
.workImg_list-item{
    width: 285px;
    height: 207px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: -2px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.workImg_list-item:hover .rotate {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.rotate{
    position: relative;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.workImg_list-item.hide {
    display: none;
}
.work_img{
   position: absolute;
    top: 0;
    left: 0;

}
.work_img_searchItem{
    border-top: 2px solid #18cfab;
    -webkit-box-shadow: 1px 1px 1px #18cfab inset;
    box-shadow: 0px 1px 0 rgba(24, 207, 171, 0.52) inset;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 0;
    width: 285px;
    height: 207px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: -1px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f8fcfe;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);

}
.work-search{
    width: 40px;
    height: 40px;
    display: block;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid #18cfab;
    text-align: center;
    line-height: 2.6;
}
.search_row{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 35px;
}
.white{
    color: #fff;
    background-color:#18cfab;
}
.work_title{
    color: #18cfab;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom:14px;
}
.work_subtitle{
    font-size: 12px;
    color: #8a8a8a;
    font-family: 'Montserrat', sans-serif;
}
.work_btn{
    display: inline-block;
    background-color:#18cfab;
    margin-top: 70px;
    margin-bottom: 100px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 22px;
    text-decoration: none;
    border-radius: 3px;
}
.work_btn.hide{
    display: none;
}
.loader_box{
    display: none;
    height: 200px;
    position: relative;
}
.loader_box.active{
    display: block;
}
/*                    loader:     ;*/
.loader{height:100%;width:100%}
.loader .l_main{position:absolute;top:50%;left:50%;width:120px;height:100px;margin:0;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
@media (max-width:550px){.loader{-webkit-transform:scale(0.75);transform:scale(0.75)}}
@media (max-width:440px){.loader{-webkit-transform:scale(0.5);transform:scale(0.5)}}
.l_square{position:relative}
.l_square:nth-child(1){margin-left:0px}
.l_square:nth-child(2){margin-left:44px}
.l_square:nth-child(3){margin-left:88px}
.l_square:nth-child(4){margin-left:132px}
.l_square span{position:absolute;top:0px;left:10px;height:20px;width:20px;border-radius:2px;background-color:#18cfab}
.l_square span:nth-child(1){top:0px}
.l_square span:nth-child(2){top:34px}
.l_square span:nth-child(3){top:68px}
.l_square:nth-child(1) span{-webkit-animation:animsquare1 2s infinite ease-in;animation:animsquare1 2s infinite ease-in}
.l_square:nth-child(2) span{-webkit-animation:animsquare2 2s infinite ease-in;animation:animsquare2 2s infinite ease-in}
.l_square:nth-child(3) span{-webkit-animation:animsquare3 2s infinite ease-in;animation:animsquare3 2s infinite ease-in}
.l_square:nth-child(4) span{-webkit-animation:animsquare4 2s infinite ease-in;animation:animsquare4 2s infinite ease-in}
.l_square span:nth-child(1){-webkit-animation-delay:0.00s;animation-delay:0.00s}
.l_square span:nth-child(2){-webkit-animation-delay:0.15s;animation-delay:0.15s}
.l_square span:nth-child(3){-webkit-animation-delay:0.30s;animation-delay:0.30s}
@-webkit-keyframes animsquare1{0%,5%,95%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}30%,70%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@keyframes animsquare1{0%,5%,95%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}30%,70%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@-webkit-keyframes animsquare2{0%,10%,90%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}35%,65%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@keyframes animsquare2{0%,10%,90%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}35%,65%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@-webkit-keyframes animsquare3{0%,15%,85%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}40%,60%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@keyframes animsquare3{0%,15%,85%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}40%,60%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@-webkit-keyframes animsquare4{0%,20%,80%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}45%,55%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@keyframes animsquare4{0%,20%,80%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}45%,55%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}

/*                    loader end:     ;*/

/*                            news*/
.news_item{
    width: 265px;
    margin-right: 27px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom:46px;
    position: relative;
}
.news_img_box{
    text-decoration: none;
}
.news_img_box:hover .date_item{
    background-color: #18cfab;
}
.news_img_box:hover .hews_title{
    color: #18cfab;
}

.news_item:nth-child(4n){
    margin-right: 0;
}
.hews_title{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #717171;
    margin-bottom: 14px;
}
.news_title-box{
    border: 1px solid #ebebeb;
    padding: 13px 11px;
    background-color: #f8fcfe;
}
.admin{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #777777;
}
.coments{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #777777;
}
.admin:after{
    content: "";
    height: 14px;
    width: 1px;
    background-color: #777;
    display: inline-block;
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: -2px;
}
.date_item{
    width: 68px;
    height: 68px;
    background-color: #203e38;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
}
.date{
    width: 100%;
    display: block;
    margin-bottom: 12px;
}
/*                peopleSey:             ;*/
.comma_box{
    width: 100%;
    text-align: center;
    margin-bottom: 45px;
}
.peopleSey{
    background-image: url("../img/Sections_background/section-3.jpg");
    background-size:cover;
    height: 852px;
    padding-top: 100px;
    margin-bottom: 100px;
}
.white-title{
    color: #fff;
}

.slider_box{
    max-width: 180px;
    margin: 0 auto;
    margin-bottom:40px;
}

/*                        slick-slider            */


/*
.slider_img-box{
    width: 150px;
}
.slider_title-box{
    margin-bottom: 25px;
    text-align: center;
}
.img_big-border{
    width: 150px;
    height: 150px;
    border: 3px solid #18cfab;
    overflow: hidden;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 11px #18cfab;
    box-shadow: 1px 1px 11px rgb(24, 207, 171);
    margin: 0 auto;
    margin-bottom: 20px;
}
.slider_title{
    text-transform: uppercase;
    color: #18cfab;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 16px;
}
.slider_subtitle{
    font-family: 'Montserrat', sans-serif;
    color: #bbbbbb;
    font-size: 16px;
}
.slider-nav{
    width: 500px;
    margin: 0 auto;
}
.slider_img-box{
    display: inline-block;
}
.slider_img-preview{
     width: 70px;
    height: 50px;
   border: 3px solid #18cfab;
    overflow: hidden;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 11px #18cfab;
    box-shadow: 1px 1px 11px rgb(24, 207, 171);
    margin: 10px auto;
}
.slider_img{
    width: 150px;
    height: 150px;
}
.slick-arrow{
    position: absolute;
    background-color: #ce0707;
    background-color: transparent;
    color: #bbbbbb;
    font-size: 20px;
    border: 1px solid #bbbbbb;
    padding: 0px 8px 3px 8px;
}
.slick-arrow.active{
    background-color: #18cfab;
    border: 1px solid #18cfab;
    color: #fff;
}
.slick-prev{
    left: -50px;
    top: 28px;
}
.slick-next{
    right: -50px;
    top: 28px;
}
*/

/*                    my slider         */

.slider{
    margin: 0 auto;
}
.slide-img{
    width: 100%;
    height: 100%;
    display: block;
}
.slide_item{
    display: none;
}
.slide_item.active{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}
.sliderTop_img-box{
    width: 150px;
    height: 150px;
    border: 3px solid #18cfab;
    overflow: hidden;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 11px #18cfab;
    box-shadow: 0px 0px 0px 11px rgba(24, 207, 171, 0.33);
    margin-bottom: 20px;
}
.peopleSey_content{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1.5;
    color: #a3a7a8;
    margin-bottom:45px;
    width: 1000px;
    -webkit-animation-name: content_people;
    animation-name: content_people;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}
@-webkit-keyframes content_people{
    0%{
        margin-left: 100px;
        opacity: 0;
    }
    100%{
        margin-left: 0;
        opacity: 1;
    }
}
@keyframes content_people{
    0%{
        margin-left: 100px;
        opacity: 0;
    }
    100%{
        margin-left: 0;
        opacity: 1;
    }
}
.slider-title{
    text-transform: uppercase;
    color: #18cfab;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 16px;
}
.slide_title-box{
    text-align: center;
    width: 100%;
}
.slider_subtitle{
    font-family: 'Montserrat', sans-serif;
    color: #bbbbbb;
    font-size: 16px;
    margin-bottom: 30px;
}
.slideShow_top{
    margin-bottom: 50px;
}
.slide_itemLink{
    cursor: pointer;
     width: 70px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 0pc 3px #18cfab;
    box-shadow: 0px 0px 0px 3px rgba(24, 207, 171, 0.33);
     display: inline-block;
    margin-right:35px;
}
.slide_itemLink.active{
    border: 2px solid #18cfab;
    position: relative;
    bottom: 17px;
    -webkit-animation-name: fadeBottom;
    animation-name: fadeBottom;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;

}
.slider-bottom-box{
    width: 500px;
    margin: 0 auto;
}
.slideShow_bottom{
    text-align: center;
    position: relative;
    max-width: 500px;
    height: 100px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
}
.box_mask{
    max-width: 345px;
    height: 100px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.slider_line{
    padding-top: 20px;
    position: absolute;
    width: 1000px;
    left: -85px;
    height: 100px;
}
.arrow{
    position: absolute;
    background-color: #ce0707;
    background-color: transparent;
    color: #bbbbbb;
    font-size: 20px;
    border: 1px solid #bbbbbb;
    padding: 5px 8px 3px 8px;
    margin-top: -10px;
    cursor: pointer;
    font-weight: bold;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}
.arrow.active{
    background-color: #18cfab;
    border: 1px solid #18cfab;
    color: #fff;
}
.prev{
    left:0;
    top:50%;
}
.next{
    right:0;
    top: 50%;
}
.fadeBottom{
    -webkit-animation-name: fadeBotton;
    animation-name: fadeBotton;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}
@-webkit-keyframes fadeBottom {
    0%{
        bottom: 0;
    }
    100%{
        bottom: 17px;
    }
}
@-webkit-keyframes fadeBotton {
    0%{
        bottom: 0;
    }
    100%{
        bottom: 17px;
    }
}
.fade{
    -webkit-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}
@-webkit-keyframes fade {
    0%{
        opacity: 0;
        margin-right: -100px;
    }
    100%{
        opacity: 1;
        margin-right: 0;
    }
}
@keyframes fade {
    0%{
        opacity: 0;
        margin-right: -100px;
    }
    100%{
        opacity: 1;
        margin-right: 0;
    }
}
                        /*   masonry       */
.masonry_img{
    width: 100%;
    height: 100%;
    display: block;
}
.masonry_item{
    display: none;
}
.masonry_greid_item{
    width: 370px;
    margin-bottom:17px;
    display: block;
}
.masonry-btm-box{
    width: 100%;
    text-align: center;
}
.hight-260{
    height: 260px;
}
.hight-290{
    height: 290px;
}
.hight-380{
    height: 380px;
}
.hight-450{
    height: 450px;
}
.hight-245{
    height: 245px;
}
.hight-370{
    height: 370px;
}
/*                        footer           */
.footer {
    text-align: center;
    background-color: #22353f;
    padding: 45px 0;
    border-top: 1px solid #fff;
    -webkit-box-shadow: 3px 0px 1px #e2e2e2;
    box-shadow: 1px 1px 1px #e2e2e2;
    margin-bottom: 11px;
    font-family: 'Montserrat', sans-serif;
    color: #a3a7a8;
}
