
.wrapper {
    max-width: 1192px;
    margin: 0 auto;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
}
.fz_18{
    font-size: 18px;
    display: block;
}
.fz_24{
    font-size: 24px;
}
.fz_30{
    font-size: 30px;
}
.fz_60{
    font-size: 60px;
}
                    /*        TABLE*/
.table_box{
    background-color: #3a4965;
    display: inline-block;
    padding: 24px 26px 30px 22px;
    webkit-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
}
.table{
    background-color: #fff;
    border: 1px solid black;
}
.table td{
    width: 277px;
    vertical-align: middle;
    text-align: center;
    border-right: 1px solid rgba(211, 212, 212, 0.45);
    -webkit-box-shadow: 4px 0px 4px -4px #d3d4d4;
    box-shadow: 4px 0px 4px -4px #d3d4d4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 24px;
}
.table td:first-child{
    width: 310px;
}
.table thead th{
    padding: 15px ;
    vertical-align: middle;
    text-align: center;
     border-right: 1px solid rgba(211, 212, 212, 0.45);
    -webkit-box-shadow: 4px 0px 4px -4px #d3d4d4;
    box-shadow: 4px 0px 4px -4px #d3d4d4;
}
.table thead th:last-child{
    webkit-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-right: none;
}
.table td:last-child{
    -webkit-box-shadow: none;
    box-shadow: none;
    border-right: none;
}
.table thead tr{
    background-color: #f4f4f5;
    font-family: 'arimobold', sans-serif;
    color: #484848;
}
.coins{
    display: inline-block;
    vertical-align: super;
    padding-bottom: 1px;
}
.per_month{
    display: inline-block;
    position: relative;
    float: left;
    margin-left: 15px;
}
.per_month:after{
    content: 'per month';
    text-transform: uppercase;
    font-size: 18px;
    position: absolute;
    font-weight: 100;
    font-family: 'arimoregular', sans-serif;
    top: 34px;
    width: 100%;
    left: 89px;
}
.table .red_white {
    background-color: #ea4a56;
    color: #fff;
}
.table .green_white {
    background-color: #87bf33;
    color: #fff;
    padding: 24px 10px;
}
.green_white-btn{
    background-color: #87bf33;
    color: #fff;
}
 .table .blue_white{
    background-color: #217e7b;
    color: #fff;
}
.grey_white{
    background-color: #484849;
    color: #fff;
}
.table tbody tr{
    background-color: #ecedee;
    font-family: 'arimoregular', sans-serif;
    font-size: 16px;
    color: #6f6f6f;
}
.fas{
    font-size: 22px;
    margin-right: 15px;
}
.far{
    font-size: 22px;
    margin-right: 15px;
}
.table tbody tr:nth-child(2n){
    background-color: #dededf;
}
.table tfoot tr {
    font-family: 'arimobold', sans-serif;
    font-size: 16px;
}
.table tfoot tr td {
    padding: 30px;
}
.tfoot_bg1{
    background-color: #d8d8d9;
}
.tfoot_bg2{
    background-color: #e8e9ea;
}
.tfoot_bg3{
    background-color: #eeeff0;
}
.tfoot_bg4{
    background-color: #e8e9ea;
}
.btn{
    text-decoration: none;
    padding: 15px 0;
    display: inline-block;
    width: 192px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px -3px 4px #000;
    box-shadow: inset 0px -7px 0px rgba(0, 0, 0, 0.09);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.btn:hover.grey_white{
   -webkit-box-shadow: inset 5px 5px 10px rgba(0,0,0, 0.09);
   box-shadow: inset 5px 5px     10px rgba(0,0,0, 0.09);
    color: gold;
}

.btn:hover.green_white{
   -webkit-box-shadow: inset 5px 5px 10px rgba(0,0,0, 0.09);
   box-shadow: inset 5px 5px 10px rgba(0,0,0, 0.09);
    color: gold;
}
.btn:hover.red_white{
   -webkit-box-shadow: inset 5px 5px 10px rgba(0,0,0, 0.09);
   box-shadow: inset 5px 5px 10px rgba(0,0,0, 0.09);
    color: gold;
}
.btn:hover.blue_white{
   -webkit-box-shadow: inset 5px 5px 10px rgba(0,0,0, 0.09);
   box-shadow: inset 5px 5px 10px rgba(0,0,0, 0.09);
    color: gold;
}
