
.wrapper {
    max-width: 1195px;
    margin: 0 auto;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
}
.fz_14{
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
}
.fz_24{
    font-size: 24px;
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
}
.fz_20{
    font-size: 20px;
}
.fz_36{
    font-size: 36px;
    margin-bottom: 10px;
}
                    /*        TABLE*/
.table_box{
    background-color: #3a4965;
    display: inline-block;
    padding: 27px 30px 22px 30px;
    webkit-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
}
.table{
    background-color: #fff;
    border: 1px solid black;
}
.table td{
    width: 164px;
    vertical-align: middle;
    text-align: center;
    border-top: 1px solid rgba(211, 212, 212, 0.45);
    -webkit-box-shadow: 0px -4px 4px -4px #d3d4d4;
    box-shadow: 0px -4px 4px -4px #d3d4d4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding:25px 21px;
}
.table td:first-child{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.table th{
    width: 230px;
    vertical-align: middle;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 24px;
}
.table thead tr{
    background-color: #f4f4f5;
    font-family: 'arimobold', sans-serif;
    color: #484848;
}
.coins{
    font-size: 18px;
    display: inline-block;
    vertical-align: super;
}
.per_month{
    position: relative;
    display: inline-block;
    float: left;
}
.per_month:after{
    content: 'per month';
    position: absolute;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    width: 100px;
    font-weight: 500;
    top: 14px;
}
.table .red_white {
    background-color: #ea4a56;
    color: #fff;
}
.table .green_white {
    background-color: #87bf33;
    color: #fff;
}
 .table .blue_white{
    background-color: #217e7b;
    color: #fff;
}
.grey_white{
    background-color: #484849;
    color: #fff;
}
.table tbody tr{
    background-color: #ecedee;
    font-family: 'arimoregular', sans-serif;
    font-size: 16px;
    color: #6f6f6f;
}
.row_cell{
    margin-bottom: 12px;
}
.fas{
    font-size: 22px;
    margin-bottom: 13px;
    display: block;
    text-align: center;
}
.far{
    font-size: 22px;
    margin-bottom: 13px;
    display: block;
}
.table tbody td:nth-child(2n){
    background-color: #dededf;
}
.table thead th:nth-child(2n){
    background-color: #dededf;
}
.table tfoot tr {
    font-family: 'arimobold', sans-serif;
    font-size: 16px;
}
.btn{
    text-decoration: none;
    padding: 12px 0;
    display: inline-block;
    width: 144px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px -3px 4px #000;
    box-shadow: inset 0px -7px 0px rgba(0, 0, 0, 0.09)    ;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.btn:hover.grey_white{
   -webkit-box-shadow: inset 5px 5px 10px rgba(0,0,0, 0.09);
   box-shadow: inset 5px 5px 10px rgba(0,0,0, 0.09);
    color: gold;
}
